/* Style for the main container */
*{
    margin:0;
    padding: 0;
    /* max-width: 100%; */
}


body {
    background-color: #ffffff;
    /* max-width: 100%; */
    /* overflow-x: hidden;  */
}

.container {
    padding: 0px;
    background-color: #ffffff;
    border-radius: 10px solid #ffffff;
    /* margin: 2%; */
    max-width: 100%;
    /* overflow-x: hidden; */
    
}

.h1, h1{
    text-align: center;
    font-size: 50px;

}

.row {
    display: flex;
    width: 100%;

    /* flex-wrap: nowrap; */
    align-content: center;
    justify-content: center;
    padding: 0px;
    background-color: #ffffff;

}

.col-sm-8 textarea {
    margin-right: 10px; /* Adjust as needed */
    text-align: center;
  }


/* Style for each form group */
.form-group {
    margin-bottom: 10px;
}

.col-sm-3{
    max-width: 100%;
    margin: 0%;
    /* margin-left: 35%; */
    /* margin-right: 35%; */
    justify-content: center;
    align-items: center;
    padding: 0%;
    display: flex ;
}

.col-sm-3 button {
    max-width: 30%;
  }


.row .col-sm-9 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    /* flex: 0 0 10%; */
    max-width: 100%;
    margin: 2% 2% 2% 2%;
    
}


.col-sm-8 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    /* flex: 0 0 10%; */
    max-width: 100%;
    margin: 2% 2% 2% 2%;
    flex-direction: row;
    
}


/* Style for the submit button */
.btn-primary {
    width: 100%;
    text-align: center;
    /* align-items: center; */
}

/* Style for the comment textarea */
#comment {
    width: 100%;
}

/* Style for the output textareas */
.output-textarea {
    width: 100%;
    margin-bottom: 10px;
}


.form-group {
    
    /* display: inline-block; */

    min-width: 17%;
    width: fit-content;
    text-align: center;
    margin: 10px 10px 10px 10px ;
}
